{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% if title %}
        <title>Web Blog - {{ title }}</title>
    {% else %}
        <title>Web Blog</title>
    {% endif %}
</head>
<body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'web-home' %}">WEBSITE Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'web-home' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'web-about' %}">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                        <div style="display: flex; align-items: center; gap: 14px;">
                            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                            <a class="nav-item nav-link" href="{% url 'web-create' %}">
                                Create Post
                            </a>
                            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="nav-item nav-link" style="background:none; border:none; padding:0;">
                                    Logout
                                </button>
                            </form>
                        </div>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>

                        {% endif %}
                    </div>
                </div>
            </div>
            </nav>
        </header>
    
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8">
                    <!-- Message display-->

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% block content %}
                    
                    {% endblock %}
                 </div>
             <div class="col-md-4">
                 <div class="content-section">
                    <h3>Sidebar.exe</h3>
                        <div class="profile-info mb-3">
                            <img src="{% static 'image/me.jpg' %}" alt="Your Name" class="img-fluid rounded-circle mb-2" style="width:100px; height:100px;">
                            <h5>Ankit Khadka</h5>
                            <p>Hello</p>
                        </div>

                        
                        <div class="social-links">
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

                        <a href="https://github.com/bug-hunter303" target="_blank" class="btn btn-outline-dark btn-sm me-2 mb-2" title="GitHub">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://www.instagram.com/unofficial._.ankit/" target="_blank" class="btn btn-outline-danger btn-sm me-2 mb-2" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        </div>
                </div>
            </div>
            </div>
        </main>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'js/popper.min.js' %}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>