{% extends 'base.html' %}
{% block content %}
    <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-home' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted | date:"Y , M j" }}</small>
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
    <div>
            {% if post.author == user %}
                <a href="{% url 'web-update' post.pk %}" class="btn btn-success">Update</a>
                <a href="{% url 'web-delete' post.pk %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
{% endblock content %}